body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  /* max-width: 1200px; */
  margin: 0 auto;

  min-height: 100vh;
  /* display: grid;
  place-content: center; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
  position: relative;
}

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid #f91b57;
  color: #f91b57;
  border-radius: 4px;
  margin: 20px 0;
}
