.card {
  background: #fff;
  color: #333;
  margin: 30px auto;
  width: 350px;
  height: 180px;
  border: 1px solid #f2f2f2;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
  padding: 20px;
  position: relative;
  overflow: hidden;
  border-left: 4px solid #20a4f3;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card p {
  text-align: left;
}

.card .delete-btn {
  position: absolute;
  top: 10px;
  right: 0;
  background: #fff;
  color: #ef476f;
  border: none;
  padding: 12px 8px;
  text-align: center;
  line-height: 0;
  font-size: 1.5em;
  cursor: pointer;
}

.card a {
  background: #20a4f3;
  padding: 3px 10px;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  left: 20px;
  text-decoration: none;
  color: #fff;
}

.card-info {
  margin-top: 30px;
}

/* .edit-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
  background: #20a4f3;
  color: #fff;
  border: none;
  padding: 8px 10px;
  border-radius: 3px;
  font-weight: bold;
  letter-spacing: 0.25rem;
  cursor: pointer;
} */
