.weather-card {
  margin: 20px 5px;
  background: #fff;
  border-radius: 20px;
  max-width: 600px;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 0px 25px 1px rgba(60, 82, 2, 0.1);
  -webkit-animation: appear 500ms ease-out forwards;
  animation: appear 500ms ease-out forwards;
}

.weather-main {
  text-align: center;
}
.weather-card h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 55px;
  color: #707070;
  border-bottom: 3px solid #f5e663;
  opacity: 0;
  transform: translateX(150px);
  -webkit-animation: title-appear 500ms ease-out 500ms forwards;
  animation: title-appear 500ms ease-out 500ms forwards;
}

.weather-card h2 {
  margin-bottom: -30px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 45px;
  color: #858585;
  opacity: 0;
  transform: translateX(150px);
  -webkit-animation: title-appear 500ms ease-out 500ms forwards;
  animation: title-appear 500ms ease-out 500ms forwards;
}

.weather-desc p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #333;
  background-color: #f5e663;
  padding: 0 60px;
  -webkit-animation: title-appear 1s ease-out 500ms forwards;
  animation: title-appear 1s ease-out 500ms forwards;
}

@-webkit-keyframes appear {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.05);
  }
  75% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.05);
  }
  75% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes title-appear {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes title-appear {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
